<html>
<head>
<style>
body
{
background-color:pink;
}
h1
{
color:red;
}
h2
{
color:coral;
}
p
{
color:green;
}
div
{
color:blue;
}
a
{
color:tomato;
}
</style>
</head>
<body>

<h1><center>PLASMA DONOR APPLICATION</center></h1>
<br><br>
<p>Plasma is the liquid portion of blood. About 55% of our blood is plasma, and the remaining 45% are red blood cells, white blood cells and platelets that are suspended in the plasma.

Plasma is about 92% water. It also contains 7% vital proteins such as albumin, gamma globulin and anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and vitamins</p>
<br><br>
<h2><center>You can use this application to donate plasma, receive plasma and ask queries </center></h2>
<div ><br>
To donate plasma click here--<br><br>
<BUTTON>
<a type="button" id="donor" href="donor">DONATE</a>
</BUTTON>
</div>

<div ><br>
To receive plasma click here--<br><br>
<BUTTON>
<a type="button" id="receiver" href="receiver">RECEIVE</a><br>
</button>
</div>

<div ><br>
To ask queries click here--<br><br>
<BUTTON>
<a type="button" id="thirdparty" href="thirdparty">QUERY</a>
</button>
</div>


</body>
</html>