<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body
{
background-color:cyan;
}
h1
{
color:brown;
}
h2
{
color:coral;
}
p
{
color:blue;
}
.bottom
{
color:tomato;
}
button
{
background-color:pink;
foreground-color:red;
border: 7px solid green;
}
</style>
</head>
<body>
<header>
<h1>WELCOME PLASMA DONOR. KINDLY FILL OUT THE FOLLOWING DETAILS</h1><br>
</header>

<form action="/success" method="post" ><center>
Name:<input type="text" id="name"/><br><br>
Phone number: <input type="number" id="phno"/><br><br>
Blood Group :<input type="text" id="bgrp"/><br><br>
Address: <input type="text" id="address"/><br><br>
<button>
<input type="submit" id="submit" value="SUBMIT"/>
</button>

</center>
</FORM>
<br>
<br>
<br>
<p>
Patients all over the world rely on plasma protein therapies to treat rare, chronic diseases. These individuals rely on the generosity and commitment of plasma donors (and oftentimes the blood donor recruitment specialist). You may donate plasma in one of the many licensed and certified donor centers located in the U.S. Plasma often is referred to as the “gift of life”, because it is essential to helping thousands of people worldwide with rare, chronic diseases to live healthier, more productive, and more fulfilling lives
</p>
<footer>
<br><br><br>
<p class="bottom"><strong>We thank you donor for your willingness to donate blood(plasma) and your concern to save human lives who needs plasma for survival</strong></p>
</footer>
</body>
</html>